<?xml version="1.0"?>
<ruleset>

    <file>./src</file>
    <file>./tests/Unit</file>

    <arg value="sp"/>

    <rule ref="Inpsyde"/>

    <rule ref="Inpsyde.CodeQuality.Psr4">
        <properties>
            <property
                    name="psr4"
                    type="array"
                    value="
                        Inpsyde\WpTranslationDownloader=>src,
                        Inpsyde\WpTranslationDownloader\Tests=>tests"/>
        </properties>
    </rule>

    <rule ref="Inpsyde.CodeQuality.FunctionLength">
        <exclude-pattern>tests/Unit/**</exclude-pattern>
    </rule>

</ruleset>