<?xml version="1.0"?>
<ruleset>

    <file>./src</file>

    <arg value="sp"/>

    <rule ref="Inpsyde"/>

    <rule ref="Inpsyde.CodeQuality.Psr4">
        <properties>
            <property
                    name="psr4"
                    type="array"
                    value="Inpsyde\WpTranslationDownloader=>src"/>
        </properties>

        <exclude name="Inpsyde.CodeQuality.ElementNameMinimalLength.TooShort" />
    </rule>

</ruleset>