<?xml version="1.0"?>
<ruleset>
    <config name="testVersion" value="8.3-" />

    <file>./src</file>
    <file>./tests/Unit</file>

    <!-- Use colors, and show sniff error codes and progress. -->
    <arg name="colors" />
    <arg value="sp" />

    <!-- Recommended Syde PHP Coding Standard rules. -->
    <!-- Recommended Syde PHP Coding Standard rules. -->
    <rule ref="Syde-Extra">
        <exclude name="WordPress.WP.AlternativeFunctions.file_system_operations_file_put_contents" />
        <exclude name="WordPress.WP.AlternativeFunctions.file_system_operations_mkdir" />
        <exclude name="WordPress.Security.EscapeOutput.ExceptionNotEscaped" />
    </rule>

    <!-- Do not report on function length for tests. -->
    <rule ref="Syde.Functions.FunctionLength">
        <exclude-pattern>*/tests/*</exclude-pattern>
    </rule>

    <!-- PSR-4 namespace configuration. -->
    <rule ref="SlevomatCodingStandard.Files.TypeNameMatchesFileName">
        <properties>
            <property name="rootNamespaces" type="array">
                <element key="src" value="Inpsyde\WpTranslationDownloader" />
                <element key="tests" value="Inpsyde\WpTranslationDownloader\Tests" />
            </property>
        </properties>
    </rule>
</ruleset>
